<h3><i class="fas fa-film"></i>&nbsp; Reels</h3>
<div class="section">
    <p class="lead">Tell us about that last movie you saw</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"> Log In with Google</i>
    </a>
</div>