@font-face{
    font-family: 'Google';
    src:url('../../../fonts/Google.ttf')
}

:root{
    --success-color:#2ecc71;
    --error-color:#e74c3c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form{
    display: flex;
    width: 30vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
    font-family:'Google', Helvetica;
    padding:1.3rem;
    box-shadow:0 0.2rem 0.6rem #ccc;
}

form .register{
    font-weight: bold;
    font-size: 2.5rem;
}

form .form-control{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: start;
    width: 100%;
    justify-content: center;
    margin: 1.2rem;
}

form label{
    display: block;
    margin-bottom:0.6rem;
    color: #545454;
    font-size: 1rem;
}

form input{
    display: block;
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    padding-left:1.5rem;
    outline:none;
    border-radius: 0.4rem;
}

form input:focus{
    outline:0;
    border-color: #000;
}

.form-control.success input{
    border-color:var(--success-color);
}

.form-control.error input{
    border-color:var(--error-color);
}

form .submit{
    border:none;
    cursor: pointer;
    outline:none;
    width: 100%;
    display: flex;
    justify-content: center;
    padding:0.8rem;
    border-radius: 0.4rem;
    align-items: center;
    color: #fff;
    background: #3498db;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1.2rem;
}

.form-control small{
    color:var(--error-color);
    position: absolute;
    bottom: -30%;
    left: 0;
    font-style: italic;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
    color:var(--error-color);
}

.form-control.success small{
    visibility: visible;
    color:var(--success-color);
}

@media all and (max-width:900px){
    form{
        width: 80%;
    }
}