*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #000000;
    color: #ffffff;
}

.body{
    min-height: 100vh;
}

.sequencer .heading{
    font-size: 5rem;
    width: 70%;
    text-align: center;
}

i,svg{
    pointer-events: none;
}

.sequencer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin-top: 2.3rem;
  position: relative;
  right: 6%;
}

.kick-pads,.snare-pads,.hihat-pads{
    display: flex;
}

.kick-pad{
    background:rgb(255, 112, 17);
    width:4.5rem;
    height: 4.5rem;
    margin:1rem 0.5rem;
}
.snare-pad{
    background:rgb(115, 255, 34);
    width:4.5rem;
    height: 4.5rem;
    margin:1rem 0.5rem;
}
.hihat-pad{
    background:rgb(235, 167, 255);
    width:4.5rem;
    height: 4.5rem;
    margin:1rem 0.5rem;
}
.kick-pad.active{
    background:rgb(206, 0, 0);
}
.snare-pad.active{
    background:rgb(65, 128, 107);
}
.hihat-pad.active{
    background:rgb(233, 64, 255);
}
.controls{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

select{
    height:3rem;
    padding:1rem;
    margin: 2rem;
}

option{
    font-size: 1rem;
    width:6rem;
}

.controls button{
    height:3rem;
    position: relative;
    border: none;
    outline:none;
    padding:1rem;
    margin: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
}

.mute.active{
    border:solid 2px #fff;
}

.controls h1{
    width: 20%;
    text-align: start;
}

.tempo{
    text-align: center;
    margin:1rem;
}

.tempo-slider{
    transform: translateX(-27%);
    background: #fff;
    color:gray;
    width:240%;
    -webkit-appearance: none;
}

.play{
    border-radius:0.6rem;
    font-size: 2rem;
    padding: 0.5rem 3rem;
    font-weight: bold;
}

.ftr{
    text-align: center;
    margin:1.5rem 0 1rem 0;
    font-size: 1.6rem;
    font-weight: bold;
}

@keyframes playTrack{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}


@media all and (max-width:1100px){
    .kick-track,.snare-track,.hihat-track{
        flex-direction: column;
        margin-bottom: 4rem;
        position: relative;
        right: 0;
    }

    .kick-pad,.snare-pad,.hihat-pad{
        width:1.6rem;
        height:1.6rem;
        margin:0.5rem;
    }
    .sequencer .heading{
        font-size: 3rem;
    }
    .controls{
        position: relative;
        left: 2%;
    }
    .controls select{
        height:3rem;
        margin: 1rem;
    }
    
    .controls option{
        font-size: 1rem;
        width:4rem;
    }
    
    .controls button{
        height:3rem;
        position: relative;
        border: none;
        outline:none;
        margin: 1rem;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        align-items: center;
    }
    .play{
        margin-top:0;
        margin-bottom: 3rem;
    }
}

@media all and (max-width:300px){
    .controls select{
        height:3rem;
        margin: 0.4rem;
    }
    
    .controls option{
        font-size: 1rem;
        width:3rem;
    }
    
    .controls button{
        height:3rem;
        position: relative;
        border: none;
        outline:none;
        margin: 0.5rem;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        align-items: center;
    }
    .kick-pad,.snare-pad,.hihat-pad{
        width:1.2rem;
        height:1.2rem;
        margin:0.3rem;
    }
    .tempo{
        justify-content: center;
        align-items: center;
    }
    .tempo-slider{
        width: 180%;
        transform: translateX(-21%);

    }
}