*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.intro{
    height:100vh;
}

.intro video{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.intro h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    color: #ffffff;
}

section{
    height: 100vh;
    color: #000000;
}

section h1{
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
}

